<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="product0" class="tn.insat.domain.Product" scope="singleton">
		<!-- Setter injection -->
		<property name="productId" value="P1000"></property>
		<property name="name" value="Thé"></property>
		<property name="unitPrice" value="4.5"></property>
	</bean>
	<bean id="product1" class="tn.insat.domain.Product">
		<!-- Constructor Injection -->
		<constructor-arg name="productId" value="P2000"></constructor-arg>
		<constructor-arg name="name" value="Café"></constructor-arg>
		<constructor-arg name="unitPrice" value="5.5"></constructor-arg>
	</bean>

	<util:list id="produits">
		<ref bean="product0" />
		<ref bean="product1" />
	</util:list>

	<bean id="order1" class="tn.insat.domain.Order">
		<property name="orderId" value="order1"></property>
		<property name="products" ref="produits"></property>
	</bean>
	<bean id="order2" class="tn.insat.domain.Order">
		<property name="orderId" value="order2"></property>
		<property name="products" ref="produits"></property>
	</bean>

	<util:list id="orders">
		<ref bean="order1" />
		<ref bean="order2" />
	</util:list>

<!-- Couche repository -->
	<bean id="repository" class="tn.insat.repository.OrdersRepositoryImpl">
		<property name="orders" ref="orders"></property>
	</bean>
	
<!-- Couche métier -->
    <bean id="businessObject" class="tn.insat.business.OrdersBusinessImpl">
       <property name="repo" ref="repository"></property> 
     </bean>
 
 <!-- Couche présentaion  -->
    <bean id="client" class="tn.insat.client.Client_Orders_Console">
       <property name="business" ref="businessObject"></property>
    </bean>

</beans>
